extends layout

block content
  div()
    ul()
      li(onclick="changeContent(this)")
        a(id="li-name" href="#") Doors
      li(onclick="changeContent(this)")
        a(id="li-name" href="#") Lights
      li(onclick="changeContent(this)")
        a(id="li-name" href="#") Temperatures
      li(onclick="changeContent(this)")
        a(id="li-name" href="#") Miscellanious
      li(onclick="changeContent(this)")
        a(id="li-name" href="#") Add Category
  div(id="main-content-wrapper")
    h1(id="main-content-header") IOT Dashboard
    div(id="main-content")
  script.
    // This script will use jQuery to switch content screens of our dashboard
    console.log("script loaded :\)");

    // declare some vars conaining our html objects
    var mainContentWrapper = $('#main-content-wrapper');
    var mainContentHeader = $(mainContentWrapper).find('#main-content-header');
    var mainContent = $(mainContentWrapper).find('#main-content');

    function changeContent(that) {
      // remove all highlights
      $(".active").removeClass("active");
      // set highlight to selected object
      $(that).addClass("active");
      // get inner <a> to get title of main content
      var contentTitle = $(that).find("#li-name").html();
      // set title to main-content-header
      mainContentHeader.text("" + contentTitle);
      contentTitle = contentTitle.toLowerCase();
      mainContent.empty();
      mainContent.load("../static/" + contentTitle + ".html");

    }
